#!/bin/sh -e
# Config script for gnunet
#
# Author: Arnaud Kyheng <Arnaud.Kyheng@free.fr>

# Source debconf library.
. /usr/share/debconf/confmodule

# Check for old type of GNUnet package
if dpkg --compare-versions "$2" lt "0.6.4a-4" && \
	[ -e /etc/gnunet.conf ]; then
	db_reset gnunet/warning || true
	db_input high gnunet/warning || true
	db_go
	# Try to read configuration values
	TMP_FILE=`/bin/tempfile`
	/bin/grep "^GNUNETD_HOME" /etc/gnunet.conf | /usr/bin/mawk ' { print $1$2$3 }' > $TMP_FILE
	/bin/grep "^PIDFILE" /etc/gnunet.conf | /usr/bin/mawk ' { print $1$2$3 }' >> $TMP_FILE
	/bin/grep "^LOGFILE" /etc/gnunet.conf | /usr/bin/mawk ' { print $1$2$3 }' >> $TMP_FILE
	# Cross fingers
	. $TMP_FILE || true
	
	# Check values (PS: we will need to be able to extract $GNUNETD_HOME later in postinst
	if [ ! $PIDFILE ] || [ ! $LOGFILE ] || \
	[ ! $GNUNETD_HOME ] || [ ! -d "$GNUNETD_HOME" ]; then
		# Something was wrong
		db_reset gnunet/failed || true
		db_input critical gnunet/failed || true
		db_go
	fi
	# Clean
	rm -f $TMP_FILE
fi

# Ask for GNUnet daemon user
db_input medium gnunet/gnunet_user || true
db_go

# Ask for GNUnet daemon group
db_input medium gnunet/gnunet_group || true
db_go

# Ask for GNUnet autostart
db_input high gnunet/launch_at_startup || true
db_go

# Check their answer.
# db_get gnunet/like_debian
# if [ "$RET" = "false" ]; then
    # Poor misguided one..
#    db_input high gnunet/why_debian_is_great || true
#    db_go
#fi
